<div sbbDialogTitle>Split Options</div>
<div sbbDialogContent>
  Name of the generated table
  <input
    type="text"
    sbbInput
    [value]="fd.lhs.columnNames().join('_').substring(0, 50)"
    placeholder="if empty: column names of the left hand side"
    (input)="setSchemaName($event)"
  />
  <div>
    Which of these attributes are determined by {{ fd.lhs.toString() }}:
  </div>
  <div class="sbb-checkbox-group-vertical">
    <sbb-checkbox
      [ngModel]="selectedColumns.get(column)"
      (ngModelChange)="selectedColumns.set(column, $event)"
      *ngFor="let column of columns"
    >
      {{ column.name }}
    </sbb-checkbox>
  </div>
</div>
<div sbbDialogActions>
  <button
    sbb-button
    [disabled]="!canConfirm()"
    (click)="confirm()"
    cdkFocusInitial
  >
    Ok
  </button>
  <button sbb-secondary-button sbbDialogClose>Cancel</button>
</div>
