<div sbbDialogTitle>Split Options</div>
<div sbbDialogContent>
  Name of the generated table
  <input
    type="text"
    sbbInput
    [(ngModel)]="tableName"
    placeholder="if empty: column names of the chosen subtable key"
  />
  <table width="100%">
    <tr>
      <td>
        <h3>New Key</h3>
      </td>
      <td>
        <h3>New Attributes</h3>
      </td>
    </tr>
    <tr>
      <td width="50%" style="vertical-align: top">
        <ul>
          <li *ngFor="let column of fd.lhs">{{ column.name }}</li>
        </ul>
        <button sbb-button (click)="changeLhs()">Change Key</button>
      </td>
      <td width="50%" style="vertical-align: top">
        <div class="sbb-checkbox-group-vertical">
          <sbb-checkbox
            *ngFor="let column of table.columns"
            [ngModel]="selectedColumns.get(column)"
            (ngModelChange)="setColumnSelection(column, $event)"
          >
            <span [ngClass]="{ hull: hull.includes(column) }">{{
              column.name
            }}</span>
          </sbb-checkbox>
        </div>
      </td>
    </tr>
  </table>

  <div *ngIf="!selectedColumnsCC().isSubsetOf(hull)" class="violation">
    The key doesnt determine all of the selected attributes. Please change the
    key
  </div>

  <div
    *ngIf="selectedColumnsCC().isSubsetOf(hull) && isKeyNonMinimal()"
    class="violation"
  >
    The key is not a minimal key of the selected attributes. Please change the
    key
  </div>
  <div *ngIf="pkViolation" class="violation">
    The primary key {{ table.pk }} would be destroyed when splitting.
  </div>

  <div *ngIf="fkViolations.length > 0" class="violation">
    These foreign keys would be destroyed when splitting:
    <ul>
      <li *ngFor="let fk of fkViolations">
        {{ fk }}
      </li>
    </ul>
  </div>

  <div *ngIf="referenceViolations.length > 0" class="violation">
    These referenced keys would be destroyed when splitting:
    <ul>
      <li *ngFor="let ref of referenceViolations">
        {{ ref }}
      </li>
    </ul>
  </div>
  <div sbbDialogActions>
    <button
      sbb-button
      [disabled]="!canConfirm()"
      (click)="confirm()"
      cdkFocusInitial
    >
      Ok
    </button>
    <button sbb-secondary-button sbbDialogClose>Cancel</button>
  </div>
</div>
