<div>
  <h2 *ngIf="!isEditingTableName; else editing">
    {{ table.fullName }}
    <sbb-icon svgIcon="kom:pen-small" (click)="startTableEdit()"></sbb-icon>
  </h2>
  <ng-template #editing class="row">
    <input
      class="col-10"
      id="rename-table-input"
      type="text"
      sbbInput
      [(ngModel)]="tableNameEditString"
      (keyup.enter)="changeTableName()"
    />
    <sbb-icon
      class="col-2"
      svgIcon="kom:tick-medium"
      (click)="changeTableName()"
    ></sbb-icon>
  </ng-template>
  <h3>Select</h3>
  <table [cellPadding]="5">
    <tr *ngFor="let column of table.columns">
      <td>{{ column.identifier() }}</td>
      <td>as</td>
      <td>
        <div *ngIf="editingColumn !== column; else columnEditingField">
          {{ column.baseAlias }}
          <sbb-icon
            svgIcon="kom:pen-small"
            (click)="startColumnEdit(column)"
          ></sbb-icon>
        </div>
        <ng-template #columnEditingField>
          <input
            id="rename-column-input"
            type="text"
            sbbInput
            [(ngModel)]="columnNameEditString"
            (keyup.enter)="changeColumnName()"
          />
          <sbb-icon
            svgIcon="kom:tick-medium"
            (click)="changeColumnName()"
          ></sbb-icon>
        </ng-template>
      </td>
    </tr>
  </table>
  <h3>From</h3>
  <table [cellPadding]="5">
    <tr *ngFor="let source of table.sources">
      <td>{{ source.table.fullName }}</td>
      <td>as</td>
      <td>
        <div *ngIf="editingSource !== source; else sourceEditingField">
          {{ source.baseAlias }}
          <sbb-icon
            svgIcon="kom:pen-small"
            (click)="startSourceEdit(source)"
          ></sbb-icon>
        </div>
        <ng-template #sourceEditingField>
          <input
            id="rename-source-input"
            type="text"
            sbbInput
            [(ngModel)]="sourceNameEditString"
            (keyup.enter)="changeSourceName()"
          />
          <sbb-icon
            svgIcon="kom:tick-medium"
            (click)="changeSourceName()"
          ></sbb-icon>
        </ng-template>
      </td>
    </tr>
  </table>
</div>
