<sbb-accordion>
  <sbb-expansion-panel
    [disabled]="schema.hiddenFksOf(table).length === 0"
    [expanded]="schema.hiddenFksOf(table).length !== 0"
  >
    <sbb-expansion-panel-header>
      Dismissed Foreign Keys
    </sbb-expansion-panel-header>
    <div
      class="hidden-fk-grid-container"
      *ngFor="let fk of schema.hiddenFksOf(table)"
    >
      <div>{{ fk.toString() }}</div>
      <button type="button" sbb-icon-button (click)="schemaService.show(fk)">
        <sbb-icon id="add-hidden-fk-button" svgIcon="kom:plus-small"></sbb-icon>
      </button>
    </div>
  </sbb-expansion-panel>
  <sbb-expansion-panel [expanded]="schema.hiddenFksOf(table).length === 0">
    <sbb-expansion-panel-header>
      Possible Foreign Keys
    </sbb-expansion-panel-header>
    <sbb-select
      id="possibleForeignKeysSelection"
      multiple
      placeholder="Filter tables"
      [(ngModel)]="indFilter"
    >
      <app-sbb-option-all
        [(current)]="indFilter"
        [available]="schema.regularTables"
      ></app-sbb-option-all>
      <sbb-option
        *ngFor="let table of schemaService.schema.regularTables"
        [value]="table"
        [sbbTooltip]="table.fullName"
      >
        {{ table.fullName }}
      </sbb-option>
    </sbb-select>
    <br />
    <sbb-radio-group #indSelection *ngIf="inds().length > 0; else noInds">
      <!-- (mouseleave)="selectColumns.emit(new Map())" -->
      <sbb-radio-button
        (mouseenter)="setHighlightedInd(rel)"
        (mouseleave)="schemaService.highlightedColumns = undefined"
        *ngFor="let rel of inds()"
        [value]="rel"
        style="display: block"
        >{{ rel.toString() }}</sbb-radio-button
      >
    </sbb-radio-group>
    <ng-template #noInds>
      <h2>
        No possible foreign keys were found with the current filter for this
        table
      </h2>
    </ng-template>
    <br />
    <button
      type="button"
      sbb-button
      [disabled]="!selectedInd()"
      (click)="transformIndToFk()"
    >
      Create Foreign Key
    </button>
  </sbb-expansion-panel>

  <sbb-expansion-panel>
    <sbb-expansion-panel-header>Suggest Foreign Key</sbb-expansion-panel-header>
    <app-check-ind></app-check-ind>
  </sbb-expansion-panel>
</sbb-accordion>
