<sbb-table-wrapper>
  <div class="d-flex justify-content-between align-items-center">
    <h1>Saved schemas</h1>
  </div>
  <button type="button" sbb-button (click)="deleteAll()">Delete all</button>
  <table class="sbb-table">
    <thead>
      <tr>
        <th>Filename</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entry of savedSchemas | keyvalue">
        <td>{{ entry.key }}</td>
        <td class="text-aling-right">
          <button type="button" sbb-button (click)="getSchema(entry.value)">
            Load schema
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</sbb-table-wrapper>
