<div class="app">
  <sbb-header-lean label="BCNFStar">
    <sbb-header-environment *ngIf="devMode">dev</sbb-header-environment>
    <a routerLink="/">Home</a>
    <a [href]="queueUrl" target="_blank">Metanome queue</a>
    <a routerLink="/metanome-results">Metanome results</a>
    <a routerLink="/load-saved-schema">Load saved schema</a>
    <!-- if no element with brand class exists, sbb logo is shown -->
    <div class="brand"></div>
  </sbb-header-lean>

  <router-outlet class="content"></router-outlet>
</div>
