.DS_Store
node_modules
dist
server/temp
server/results
/temp
server/routes/results
server/routes/temp
server/routes/secrets

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?