.editing-field {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 10px
}

.grid-container-editing-field > button {
  width: max-content
}

.grid-container-table {
  display: grid;
  grid-template-columns: 60% 5% auto;
}

.table-heading {
  display: flex;
  justify-content: space-between;
  gap: 10px
}

input {
  width: 100%;
}

.item {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
