<div>
  <sbb-select [(ngModel)]="_lhs" multiple placeholder="Key Columns">
    <sbb-option *ngFor="let column of table.columns.asArray()" [value]="column"
      >{{ column.sourceColumn.name }}
    </sbb-option>
  </sbb-select>
</div>
<div>
  <sbb-select [(ngModel)]="_rhs" multiple placeholder="Other Columns">
    <sbb-option *ngFor="let column of table.columns.asArray()" [value]="column"
      >{{ column.sourceColumn.name }}
    </sbb-option>
  </sbb-select>
</div>
<button sbb-button [disabled]="checkNotAllowed()" (click)="checkFd()">
  Check Functional Dependency
</button>
