<div>
  <h3>
    Check whether a valid foreign key could be created between this table and
    the one selected below on specific columns.
  </h3>
  <div>
    <sbb-select
      style="width: 100%"
      (ngModelChange)="this.onTableSelected($event)"
      [(ngModel)]="this.referencedTable"
      placeholder="Referenced Table"
    >
      <sbb-option *ngFor="let table of this.validTables()" [value]="table">{{
        table.schemaAndName()
      }}</sbb-option>
    </sbb-select>
  </div>
  <div *ngIf="this.referencedTable">
    <div *ngFor="let refColumn of this.referencingColumns(); index as i">
      <div class="d-flex align-items-center" style="padding-top: 10px">
        <input
          disabled="true"
          style="width: 40%"
          sbbInput
          [value]="refColumn.name"
        />
        <input
          disabled="true"
          style="width: 40%; margin-left: 5px; margin-right: 5px"
          sbbInput
          [value]="this.referencedColumns()[i].name"
        />
        <button
          sbb-icon-button
          style="width: 20%"
          type="button"
          (click)="this.removeColumnRelation(i)"
        >
          <sbb-icon svgIcon="kom:cross-small"></sbb-icon>
        </button>
      </div>
    </div>
    <div class="d-flex align-items-center" style="padding-top: 10px">
      <sbb-select
        style="width: 40%"
        [(ngModel)]="this.referencingColumn"
        placeholder="Referencing Column"
      >
        <sbb-option
          *ngFor="let column of this.validReferencingColumns()"
          [value]="column"
          >{{ column.name }}
        </sbb-option>
      </sbb-select>
      <sbb-select
        style="width: 40%; margin-left: 5px; margin-right: 5px"
        [(ngModel)]="this.referencedColumn"
        placeholder="Referenced Column"
      >
        <sbb-option
          *ngFor="let column of this.validReferencedColumns()"
          [value]="column"
          >{{ column.name }}
        </sbb-option>
      </sbb-select>

      <button
        style="width: 20%"
        type="button"
        sbb-icon-button
        (click)="addColumnRelation()"
        [disabled]="!canAddColumnRelation()"
      >
        <sbb-icon svgIcon="kom:plus-small"></sbb-icon>
      </button>
    </div>
    <div style="padding-top: 15px">
      <button sbb-button (click)="checkInd()" [disabled]="!canCheckIND()">
        Check Inclusion Dependency
      </button>
      <sbb-loading
        mode="inline"
        aria-valuetext="Loading, please wait"
        *ngIf="this.isLoading"
      ></sbb-loading>
    </div>
  </div>
</div>
