<div class="container-fluid ml-2 mr-2">
  <div class="row">
    <div [ngClass]="{ 'col-4': withTable }">
      <div class="sbb-checkbox-group-vertical">
        <sbb-accordion multi="true">
          <sbb-expansion-panel *ngFor="let item of tablesInSchema | keyvalue">
            <!-- item.key = schema name, item.value = list of associated table objects -->
            <sbb-expansion-panel-header>{{
              item.key
            }}</sbb-expansion-panel-header>
            <sbb-checkbox
              (change)="clickSelectAll(item.key)"
              [checked]="areAllSelectedIn(item.key)"
              [indeterminate]="
                !areAllSelectedIn(item.key) && !areZeroSelectedIn(item.key)
              "
            >
              All
            </sbb-checkbox>
            <sbb-checkbox
              *ngFor="let table of item.value"
              [ngModel]="selectedTables.get(table)"
              (ngModelChange)="selectedTables.set(table, $event)"
              class="table-checkbox"
              (mouseenter)="mouseEnter(table)"
            >
              {{ table.name }}
            </sbb-checkbox>
          </sbb-expansion-panel>
        </sbb-accordion>
      </div>

      <button
        type="button"
        sbb-button
        [disabled]="!hasSelectedTables()"
        (click)="selectTables()"
      >
        Go
      </button>
    </div>
    <div class="col-8" *ngIf="hoveredTable && withTable">
      <ng-container
        [ngSwitch]="tableRowCounts.get(hoveredTable)! >= pageLimit ? 1 : -1"
      >
        <h3>
          <span>{{ hoveredTable.fullName }}</span>
        </h3>
        <sbb-table-wrapper class="table-wrapper">
          <table sbb-table [dataSource]="dataSource">
            <tr sbb-header-row *sbbHeaderRowDef="tableColumns"></tr>
            <tr sbb-row *sbbRowDef="let row; columns: tableColumns"></tr>
            <ng-container
              *ngFor="let column of hoveredTable.columns.sourceColumnNames()"
              [sbbColumnDef]="column"
            >
              <th sbb-header-cell *sbbHeaderCellDef>{{ column }}</th>
              <td
                [ngClass]="{ numeric: isNumeric(column) }"
                *sbbCellDef="let element"
              >
                {{ element[column] }}
              </td>
            </ng-container>
          </table>
        </sbb-table-wrapper>
        <div class="row">
          <sbb-paginator
            (page)="changePage($event)"
            [pageIndex]="this.page"
            [pageSize]="pageLimit"
            [length]="tableRowCounts.get(hoveredTable)"
            class="col"
          >
          </sbb-paginator>
          <ng-container *ngSwitchCase="1">
            <div class="col text-aling-right">
              {{ this.pageLimit * this.page + 1 }} -
              {{ this.pageLimit * this.page + this.dataSource.data.length }} /
              {{ tableRowCounts.get(hoveredTable) }}
            </div>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <div class="col text-aling-right">
              {{ this.pageLimit * this.page }} /
              {{ tableRowCounts.get(hoveredTable) }}
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #loadingDialog class="loading-box">
  <div sbbDialogTitle>Running Metanome</div>
  <div sbbDialogContent>
    <span *ngIf="loadingStatus.size">
      Functional Dependencies and Inclusion Dependencies are currently being
      searched. <br />
      More detailed progress reports including logs can be found
      <a [href]="queueUrl" target="_blank">here</a>
    </span>

    <ul>
      <li *ngFor="let item of loadingStatus | keyvalue">
        {{ item.key.algorithm }} with {{ item.key.tables }}
        <sbb-loading
          mode="inline"
          aria-valuetext="Loading, please wait"
          *ngIf="item.value === 'loading'"
        ></sbb-loading>
        <sbb-icon
          svgIcon="kom:cross-medium"
          style="color: red"
          *ngIf="item.value === 'error'"
        ></sbb-icon>
        <sbb-icon
          svgIcon="kom:tick-medium"
          style="color: green"
          *ngIf="item.value === 'done'"
        ></sbb-icon>
      </li>
      <li>
        Fetching results
        <sbb-loading
          mode="inline"
          aria-valuetext="Loading, please wait"
        ></sbb-loading>
      </li>
    </ul>
  </div>
</ng-template>

<ng-template #errorDialog>
  <div sbbDialogTitle>Warning</div>
  <div sbbDialogContent>
    An error occured while getting required table data from the server. Check
    the browser's console and the metanome queue for details.
  </div>

  <div sbbDialogActions>
    <a
      class="hover-color-white"
      type="button"
      sbb-button
      sbbDialogClose
      [href]="queueUrl"
      target="_blank"
      >Investigate Metanome logs</a
    >
    <a
      class="hover-color-white"
      type="button"
      sbb-button
      sbbDialogClose
      routerLink="/edit-schema"
      >Edit schema regardless</a
    >
    <a type="button" sbb-secondary-button sbbDialogClose>Cancel</a>
  </div>
</ng-template>
