<div class="container-fluid ml-2 mr-2">
  <div class="row">
    <div class="col-4">
      <ngx-slider
        [(value)]="headLimit"
        [options]="sliderOptions"
        (valueChange)="reloadTableHeads()"
      >
      </ngx-slider>
      <div class="sbb-checkbox-group-vertical">
        <sbb-checkbox
          class="checkbox"
          *ngFor="let table of this.tables.keys()"
          (change)="toggleCheckStatus(table)"
          (mouseenter)="mouseEnter(table)"
        >
          {{ table.name }}
        </sbb-checkbox>
      </div>
      <button
        type="button"
        sbb-button
        [disabled]="!hasSelectedTables()"
        (click)="selectTable()"
        [routerLink]="['/normalize']"
      >
        Go
      </button>
    </div>
    <div class="col-8">
      <h3>
        <ng-container
          [ngSwitch]="
            tableRowCounts.get(hoveredTable.name)! >= headLimit
              ? 1
              : tableRowCounts.get(hoveredTable.name)! > 0 &&
                tableRowCounts.get(hoveredTable.name)! < headLimit
              ? 2
              : -1
          "
        >
          <ng-container *ngSwitchCase="1">
            Displaying {{ hoveredTable.name }} {{ headLimit }} of
            {{ tableRowCounts.get(hoveredTable.name) }} rows
          </ng-container>
          <ng-container *ngSwitchCase="2">
            {{ hoveredTable.name }}
            {{ tableRowCounts.get(hoveredTable.name)! }} von
            {{ tableRowCounts.get(hoveredTable.name) }}
          </ng-container>
          <ng-container *ngSwitchDefault>
            {{ hoveredTable.name }}
          </ng-container>
        </ng-container>
      </h3>
      <sbb-table-wrapper class="table-wrapper">
        <table sbb-table [dataSource]="dataSource">
          <sbb-text-column
            *ngFor="let column of tableColumns"
            name="{{ column }}"
          >
          </sbb-text-column>
          <tr sbb-header-row *sbbHeaderRowDef="tableColumns"></tr>
          <tr sbb-row *sbbRowDef="let row; columns: tableColumns"></tr>
        </table>
      </sbb-table-wrapper>
    </div>
  </div>
</div>
