button {
  margin-top: 10px;
}

h3 {
  font-weight: bold;
  margin-top: 0px;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.checkbox {
  overflow: hidden;
  width: 100%;
}

.table-wrapper {
  height: 100vh;
  width: 100%;
  min-height: 400px;
}

tr {
  white-space: nowrap;
}
