<div class="container-fluid ml-2 mr-2">
  <div class="row">
    <div class="col-4">
      <div class="sbb-checkbox-group-vertical">
        <sbb-accordion multi="true">
          <sbb-expansion-panel *ngFor="let item of tablesInSchema | keyvalue">
            <!-- item.key = schema name, item.value = list of associated table objects -->
            <sbb-expansion-panel-header>{{
              item.key
            }}</sbb-expansion-panel-header>
            <sbb-checkbox
              (change)="clickSelectAll(item.key)"
              [disabled]="isLoading"
              [checked]="areAllSelectedIn(item.key)"
              [indeterminate]="
                !areAllSelectedIn(item.key) && !areZeroSelectedIn(item.key)
              "
            >
              All
            </sbb-checkbox>
            <sbb-checkbox
              *ngFor="let table of item.value"
              [ngModel]="selectedTables.get(table)"
              (ngModelChange)="selectedTables.set(table, $event)"
              [disabled]="isLoading"
              class="table-checkbox"
              (mouseenter)="mouseEnter(table)"
            >
              {{ table.name }}
            </sbb-checkbox>
          </sbb-expansion-panel>
        </sbb-accordion>
      </div>

      <button
        type="button"
        sbb-button
        [disabled]="!hasSelectedTables() || isLoading"
        (click)="selectTables()"
      >
        Go
      </button>
    </div>
    <div class="col-8" *ngIf="hoveredTable">
      <h3>
        <ng-container
          [ngSwitch]="
            tableRowCounts.get(hoveredTable)! >= headLimit
              ? 1
              : tableRowCounts.get(hoveredTable)! >= 0 &&
                tableRowCounts.get(hoveredTable)! < headLimit
              ? 2
              : -1
          "
        >
          <ng-container *ngSwitchCase="1">
            Displaying {{ hoveredTable.schemaAndName() }} {{ headLimit }} of
            {{ tableRowCounts.get(hoveredTable) }} rows
          </ng-container>
          <ng-container *ngSwitchCase="2">
            {{ hoveredTable.schemaAndName() }}
            {{ tableRowCounts.get(hoveredTable) }} von
            {{ tableRowCounts.get(hoveredTable) }}
          </ng-container>
          <ng-container *ngSwitchDefault>
            {{ hoveredTable.schemaAndName() }}
          </ng-container>
        </ng-container>
      </h3>
      <sbb-table-wrapper class="table-wrapper">
        <table sbb-table [dataSource]="dataSource">
          <sbb-text-column
            *ngFor="let column of tableColumns"
            name="{{ column }}"
          >
          </sbb-text-column>
          <tr sbb-header-row *sbbHeaderRowDef="tableColumns"></tr>
          <tr sbb-row *sbbRowDef="let row; columns: tableColumns"></tr>
        </table>
      </sbb-table-wrapper>
    </div>
  </div>
</div>

<div *ngIf="isLoading" class="loading-box">
  <sbb-loading
    mode="medium"
    aria-valuetext="Loading, please wait"
  ></sbb-loading>
  Functional Dependencies and Inclusion Dependencies are currently being
  searched. <br />
  Progress can be monitored
  <a [href]="queueUrl" target="_blank">here</a>
</div>

<ng-template #errorDialog>
  <div sbbDialogTitle>Warning</div>
  <div sbbDialogContent>
    An error occured while getting required table data from the server. Check
    the browser's console and the metanome queue for details.
  </div>

  <div sbbDialogActions>
    <a
      class="hover-color-white"
      type="button"
      sbb-button
      sbbDialogClose
      [href]="queueUrl"
      >Investigate Metanome logs</a
    >
    <a
      class="hover-color-white"
      type="button"
      sbb-button
      sbbDialogClose
      routerLink="/edit-schema"
      >Edit schema regardless</a
    >
    <a type="button" sbb-secondary-button sbbDialogClose>Cancel</a>
  </div>
</ng-template>
