<div class="mx-1 mb-2">
  <sbb-toggle [(ngModel)]="constraintPolicy">
    <sbb-toggle-option label="minimal null constraints" value="minimal"></sbb-toggle-option>
    <sbb-toggle-option
      label="original null constraints"
      value="schema"
    ></sbb-toggle-option>
    <sbb-toggle-option label="maximal null constraints" value="maximal"></sbb-toggle-option>
  </sbb-toggle>
</div>

<div class="grid-container mx-1">
  <input
    class="me-1"
    type="text"
    sbbInput
    id="schema-name-input"
    placeholder="Schema name"
    [(ngModel)]="schemaName"
    style="text-transform: lowercase"
  />

  <button
    type="button"
    sbb-button
    [disabled]="!schemaName"
    (click)="download()"
  >
    Download SQL
  </button>
</div>
