<div>Null Constraints in exported schema:</div>
<sbb-toggle [(ngModel)]="constraintPolicy">
  <sbb-toggle-option label="minimal" value="minimal"></sbb-toggle-option>
  <sbb-toggle-option
    label="use original constraints"
    value="schema"
  ></sbb-toggle-option>
  <sbb-toggle-option label="maximal" value="maximal"></sbb-toggle-option>
</sbb-toggle>

<div class="grid-container mx-1">
  <input
    class="me-1"
    type="text"
    sbbInput
    id="schema-name-input"
    placeholder="Schema name"
    [(ngModel)]="schemaName"
    style="text-transform: lowercase"
  />

  <button
    type="button"
    sbb-button
    [disabled]="!schemaName"
    (click)="download()"
  >
    Download SQL
  </button>
</div>
