<div>
  <sbb-select [(ngModel)]="this._lhs" multiple placeholder="Key Columns">
    <sbb-option
      *ngFor="let column of table.columns.asArray()"
      [value]="column"
      >{{ column.name }}</sbb-option
    >
  </sbb-select>
</div>
<div>
  <sbb-select [(ngModel)]="this._rhs" multiple placeholder="Other Columns">
    <sbb-option
      *ngFor="let column of table.columns.asArray()"
      [value]="column"
      >{{ column.name }}</sbb-option
    >
  </sbb-select>
</div>
<button sbb-button [disabled]="this.checkNotAllowed()" (click)="checkFd()">
  Check Functional Dependency
</button>
