<div>
  <h3>{{ table.name }}</h3>
  <sbb-accordion [multi]="true">
    <sbb-expansion-panel [expanded]="true">
      <sbb-expansion-panel-header>Keys</sbb-expansion-panel-header>
      <ul>
        <li *ngFor="let key of table.keys().slice(0, 5)">
          {{ key.toString() }}
        </li>
      </ul>
    </sbb-expansion-panel>

    <sbb-expansion-panel [expanded]="true">
      <sbb-expansion-panel-header>
        Functional Dependencies
      </sbb-expansion-panel-header>
      <sbb-accordion>
        <sbb-expansion-panel
          *ngFor="
            let cluster of this.schema
              .splittableFdClustersOf(this.table)
              .slice(0, 10)
          "
        >
          <sbb-expansion-panel-header>
            {{ cluster.columns }}
          </sbb-expansion-panel-header>
          Keys:
          <br />
          <button
            *ngFor="let fd of cluster.fds"
            type="button"
            sbb-button
            style="margin: 3px"
            (click)="this.splitFd.emit(fd)"
          >
            {{ fd.lhs }}
          </button>
        </sbb-expansion-panel>
      </sbb-accordion>
    </sbb-expansion-panel>

    <sbb-expansion-panel [expanded]="true">
      <sbb-expansion-panel-header
        >Inclusion Dependencies</sbb-expansion-panel-header
      >
      <sbb-radio-group #indSelection>
        <sbb-radio-button
          *ngFor="let rel of this.schema.indsOf(this.table)"
          [value]="rel"
          >{{
            rel.relationship.referencing().toString() +
              "->(" +
              rel.table.name +
              ") " +
              rel.relationship.referenced().toString()
          }}</sbb-radio-button
        >
      </sbb-radio-group>
      <br />
      <button
        type="button"
        sbb-button
        [disabled]="!selectedInd()"
        (click)="transformIndToFk()"
      >
        Create Foreign Key
      </button>
    </sbb-expansion-panel>
  </sbb-accordion>
</div>
