<div>
  <h3>{{ table.name }}</h3>
  <sbb-accordion [multi]="true">
    <sbb-expansion-panel [expanded]="true">
      <sbb-expansion-panel-header>Keys</sbb-expansion-panel-header>
      <ul>
        <li *ngFor="let key of table.keys().slice(0, 5)">
          {{ key.toString() }}
        </li>
      </ul>
    </sbb-expansion-panel>

    <sbb-expansion-panel [expanded]="true">
      <sbb-expansion-panel-header>
        Contained Subtables
      </sbb-expansion-panel-header>
      <sbb-accordion *ngIf="schema.splittableFdClustersOf(table).length > 0">
        <sbb-expansion-panel
          *ngFor="
            let cluster of schema.splittableFdClustersOf(table).slice(0, 10)
          "
          (mouseenter)="selectColumns.emit(cluster.columns)"
          (mouseleave)="selectColumns.emit()"
        >
          <sbb-expansion-panel-header>
            {{ cluster.columns }}
          </sbb-expansion-panel-header>
          Keys:
          <br />
          <button
            *ngFor="let fd of cluster.fds"
            type="button"
            sbb-button
            style="margin: 3px"
            (click)="splitFd.emit(fd)"
          >
            {{ fd.lhs }}
          </button>
        </sbb-expansion-panel>
      </sbb-accordion>
    </sbb-expansion-panel>

    <sbb-expansion-panel [expanded]="true">
      <sbb-expansion-panel-header
        >Possible Foreign Keys</sbb-expansion-panel-header
      >
      <sbb-radio-group #indSelection *ngIf="schema.indsOf(table).length > 0">
        <sbb-radio-button
          *ngFor="let rel of schema.indsOf(table)"
          [value]="rel"
          >{{
            rel.relationship.referencing().toString() +
              "->(" +
              rel.table.name +
              ") " +
              rel.relationship.referenced().toString()
          }}</sbb-radio-button
        >
      </sbb-radio-group>
      <br />
      <button
        type="button"
        sbb-button
        [disabled]="!selectedInd()"
        (click)="transformIndToFk()"
      >
        Create Foreign Key
      </button>
    </sbb-expansion-panel>
  </sbb-accordion>
</div>
