<h1 [sbbTooltip]="table.fullName">
  {{ table.fullName }}
</h1>
<sbb-tab-group>
  <sbb-tab label="Keys">
    <app-keys></app-keys>
  </sbb-tab>
  <sbb-tab label="Subtables">
    <app-contained-subtables></app-contained-subtables>
    <button
      type="button"
      sbb-button
      (click)="schemaService.autoNormalize([this.table])"
      class="mt-1"
    >
      {{ "Auto-normalize this table" }}
    </button>
  </sbb-tab>
  <sbb-tab label="Foreign Keys">
    <app-foreign-keys></app-foreign-keys>
  </sbb-tab>
  <sbb-tab label="Table Editing">
    <app-table-editing></app-table-editing>
  </sbb-tab>
  <sbb-tab label="Union">
    <app-union-sidebar></app-union-sidebar>
  </sbb-tab>
</sbb-tab-group>
