h1 {
    text-align: center;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
}

sbb-tab-group {
    height: calc(var(--window-height) - var(--export-schema-sidebar-and-heading-height)); 
}

sbb-tab-group > .sbb-tab-body-wrapper {
    height: 100%;
}
