<h1 [sbbTooltip]="table.fullName">
  {{ table.fullName }}
</h1>
<sbb-tab-group>
  <sbb-tab label="Keys">
    <app-keys
      [table]="table"
      (setSurrogateKey)="setSurrogateKey.emit($event)"
    ></app-keys>
  </sbb-tab>
  <sbb-tab label="Subtables">
    <app-contained-subtables
      [table]="table"
      (selectColumns)="selectColumns.emit($event)"
      (splitFd)="splitFd.emit($event)"
    ></app-contained-subtables>
    <button
      type="button"
      sbb-button
      (click)="autoNormalizeSelectedTable.emit()"
      class="mt-1"
    >
      {{ "Auto-normalize this table" }}
    </button>
  </sbb-tab>
  <sbb-tab label="Foreign Keys">
    <app-foreign-keys
      [schema]="schema"
      [table]="table"
      (selectColumns)="selectColumns.emit($event)"
      (indToFk)="indToFk.emit($event)"
    ></app-foreign-keys>
  </sbb-tab>
  <sbb-tab label="Table Editing">
    <app-table-editing
      [table]="table"
      (deleteColumnEvent)="deleteColumnEvent.emit($event)"
    ></app-table-editing>
  </sbb-tab>
  <!-- WIP -->
  <!-- <sbb-tab label="Schema Integration">
    <h2>Choose which tables to integrate into the current schema</h2>
    <app-table-selection [withContentPreview]="false"></app-table-selection>
  </sbb-tab> -->
</sbb-tab-group>
