<div class="metanome-settings-dialog">
  <div sbbDialogTitle>Metanome configuration settings</div>
  <div sbbDialogContent>
    <form class="sbb-form-group-vertical" [formGroup]="formGroup">
      <h2>Functional Dependencies</h2>
      <div *ngFor="let table of tables; let index = index">
        {{ table.schemaAndName() }}
        <sbb-toggle
          [formControl]="selectedFdTab[index]"
          (change)="setFdConfig(table)"
        >
          <sbb-toggle-option label="Use no Metanome result" value="no-result">
            <sbb-toggle-details>
              Don't use Functional Dependencies for this table.
            </sbb-toggle-details>
          </sbb-toggle-option>
          <sbb-toggle-option
            label="Use existing result"
            value="existing-result"
            [disabled]="filteredMetanomeResultsForFd(table).length === 0"
          >
            <sbb-toggle-details>
              <sbb-select [formControlName]="'fds_' + table.schemaAndName()">
                <sbb-option
                  *ngFor="let result of filteredMetanomeResultsForFd(table)"
                  [value]="result"
                  [sbbTooltip]="metanomeConfigInfo(result)"
                >
                  {{ metanomeConfigInfo(result) }}
                </sbb-option>
              </sbb-select>
            </sbb-toggle-details>
          </sbb-toggle-option>

          <sbb-toggle-option label="HyFD" value="hyfd">
            <sbb-toggle-details>
              <ng-container
                [ngTemplateOutlet]="configParameters"
                [ngTemplateOutletContext]="{
                  config: hyfdConfigs,
                  configName: 'fds_' + table.schemaAndName()
                }"
              ></ng-container>
            </sbb-toggle-details>
          </sbb-toggle-option>
        </sbb-toggle>
      </div>
      <h2>Inclusion Dependencies</h2>
      {{ getAllTableNames() }}
      <sbb-toggle [formControl]="selectedIndTab" (change)="setIndConfig()">
        <sbb-toggle-option label="Use no Metanome result" value="no-result">
          <sbb-toggle-details>
            Don't use Inclusion Dependencies for these tables.
          </sbb-toggle-details>
        </sbb-toggle-option>
        <sbb-toggle-option
          label="Use existing result"
          value="existing-result"
          [disabled]="filteredMetanomeResultsForInd().length === 0"
        >
          <sbb-toggle-details>
            <sbb-select formControlName="ind">
              <sbb-option
                *ngFor="let result of filteredMetanomeResultsForInd()"
                [value]="result"
                [sbbTooltip]="metanomeConfigInfo(result)"
              >
                {{ metanomeConfigInfo(result) }}
              </sbb-option>
            </sbb-select>
          </sbb-toggle-details>
        </sbb-toggle-option>

        <sbb-toggle-option label="Binder" value="binder">
          <sbb-toggle-details>
            <ng-container
              [ngTemplateOutlet]="configParameters"
              [ngTemplateOutletContext]="{
                config: binderConfigs,
                configName: 'ind'
              }"
            ></ng-container>
          </sbb-toggle-details>
        </sbb-toggle-option>

        <sbb-toggle-option label="FAIDA" value="faida">
          <sbb-toggle-details>
            <ng-container
              [ngTemplateOutlet]="configParameters"
              [ngTemplateOutletContext]="{
                config: faidaConfigs,
                configName: 'ind'
              }"
            ></ng-container>
          </sbb-toggle-details>
        </sbb-toggle-option>
      </sbb-toggle>
    </form>
  </div>
  <div sbbDialogActions>
    <button (click)="runMetanome()" sbb-button cdkFocusInitial>Ok</button>
    <button sbb-secondary-button sbbDialogClose>Cancel</button>
  </div>
</div>

<ng-template
  #configParameters
  let-config="config"
  let-configName="configName"
  [formGroup]="formGroup"
>
  <sbb-select
    [formControlName]="configName"
    [value]="config[configName]"
    class="display-non"
  >
    <sbb-option [value]="config[configName]">
      {{ config[configName] }}
    </sbb-option>
  </sbb-select>
  <div
    *ngFor="
      let entry of config[configName]['config'] | keyvalue;
      trackBy: trackByFn
    "
    [sbbTooltip]="$any(configTooltip)[$any(entry).key]"
  >
    <sbb-checkbox
      *ngIf="isBoolean(entry.value)"
      [(ngModel)]="config[configName]['config'][$any(entry).key]"
      [ngModelOptions]="{ standalone: true }"
      [class]="$any(entry).key"
    >
      {{ $any(entry).key }}
    </sbb-checkbox>
    <div *ngIf="!isBoolean(entry.value)">
      <sbb-label>{{ $any(entry).key }}</sbb-label>
      <input
        sbbInput
        [(ngModel)]="config[configName]['config'][$any(entry).key]"
        [ngModelOptions]="{ standalone: true }"
        [class]="$any(entry).key"
      />
    </div>
  </div>
  <button
    class="apply-to-all"
    sbb-button
    *ngIf="configName.substring(0, 3) === 'fds'"
    (click)="applySettingToAllOtherTables(configName)"
  >
    Apply this settings to all HyFD Configs
  </button>
</ng-template>
