.apply-to-all {
    margin-top: 10px;
}

.display-non {
    display: none;
}

.metanome-settings-dialog {
    width: 80vw;
}

sbb-form-field, sbb-select {
    width: 100%;
}

sbb-toggle {
    margin-bottom: 10px;
    margin-top: 5px;
    width: 100%;
}

sbb-toggle-details {
    width: 100%;
}
