<div sbbDialogTitle>Metanome configuration settings</div>
<div sbbDialogContent>
  <form class="sbb-form-group-vertical" [formGroup]="formGroup">
    <h2>Functional Dependencies</h2>
    <ul>
      <li *ngFor="let table of tables; let index = index">
        <div>
          {{ table.schemaAndName() }}
        </div>
        <div>
          <sbb-form-field>
            <sbb-select
              placeholder="Old results"
              *ngIf="useOldMetanomeFdResult[index]; else useNewMetanomeConfig"
              [formControlName]="'fdResult_' + table.schemaAndName()"
            >
              <sbb-option
                *ngFor="let result of filteredMetanomeResultsForFd(table)"
                [value]="result"
              >
                {{ getMetanomeConfigurationInformation(result) }}
              </sbb-option>
            </sbb-select>
          </sbb-form-field>
        </div>
        <div>
          <button sbb-button (click)="toggleFdResult(index)">
            {{
              useOldMetanomeFdResult[index]
                ? "Use new configuration"
                : "Use old metanome result"
            }}
          </button>
        </div>
      </li>
    </ul>
    <h2>Inclusion Dependencies</h2>
    <ul>
      <li>
        <div>
          {{ getAllTableNames() }}
        </div>
        <div>
          <sbb-form-field>
            <sbb-select
              placeholder="Old results"
              *ngIf="useOldMetanomeIndResult; else useNewMetanomeConfig"
              formControlName="indResult"
            >
              <sbb-option
                *ngFor="let result of filteredMetanomeResultsForInd()"
                [value]="result"
              >
                {{ getMetanomeConfigurationInformation(result) }}
              </sbb-option>
            </sbb-select>
          </sbb-form-field>
        </div>
        <div>
          <button sbb-button (click)="toggleIndResult()">
            {{
              useOldMetanomeIndResult
                ? "Use new configuration"
                : "Use old metanome result"
            }}
          </button>
        </div>
      </li>
    </ul>
  </form>
</div>
<div sbbDialogActions>
  <button (click)="runMetoname()" sbb-button cdkFocusInitial>Ok</button>
  <button sbb-secondary-button sbbDialogClose>Cancel</button>
</div>

<ng-template #useNewMetanomeConfig>
  <div>
    <sbb-label>Algorithm</sbb-label>
    <sbb-select placeholder="Algorithm">
      <sbb-option>Option 1</sbb-option>
    </sbb-select>
  </div>
</ng-template>
