<div class="container-fluid border">
  <div class="row border">
    <div class="col-8 border">
      <!-- [selectedTable]="this.selectedTable" -->
      <!-- (selected)="onSelect($event)" -->
      <app-schema-graph
        [schema]="schema"
        [(selectedTable)]="selectedTable"
        [selectedColumns]="selectedColumns"
        [schemaChanged]="schemaChanged.asObservable()"
        (joinFk)="onClickJoin($event)"
        (makeDirectDimension)="onClickMakeDirectDimension($event)"
      ></app-schema-graph>
    </div>
    <div class="col-4 border schema-editing-side-bar">
      <button type="button" sbb-button (click)="onAutoNormalize()">
        {{
          selectedTable !== undefined
            ? "Auto-normalize this table"
            : "Auto-normalize all tables"
        }}
      </button>

      <app-undo-redo
        class="undo-redo"
        [canUndo]="commandProcessor.canUndo()"
        [canRedo]="commandProcessor.canRedo()"
        (undo)="onUndo()"
        (redo)="onRedo()"
      ></app-undo-redo>

      <input
        type="text"
        sbbInput
        id="schema-name-input"
        placeholder="Schema Name"
        [(ngModel)]="schemaName"
        style="text-transform: lowercase"
      />

      <button
        type="button"
        sbb-button
        [disabled]="!schemaName"
        (click)="download()"
      >
        Download SQL
      </button>
      <app-save-schema-editing [schema]="schema"> </app-save-schema-editing>
      <sbb-toggle (change)="setStarMode($event)">
        <sbb-toggle-option label="Normal Mode" [value]="false">
        </sbb-toggle-option>
        <sbb-toggle-option label="Star Schema Mode" [value]="true">
        </sbb-toggle-option>
      </sbb-toggle>
      <app-schema-editing-side-bar
        class="schema-editing-side-bar"
        *ngIf="selectedTable"
        [table]="selectedTable"
        [schema]="schema"
        (splitFd)="onClickSplit($event)"
        (indToFk)="onIndToFk($event)"
        (selectColumns)="onSelectColumns($event)"
      ></app-schema-editing-side-bar>
    </div>
  </div>
</div>
