<div class="grid-container">
  <div class="grid-container-graphmenu">
    <button sbb-button (click)="graph.resetView()" id="reset-btn" class="me-1">
      Reset view
    </button>
    <button
      type="button"
      sbb-button
      (click)="schemaService.autoNormalize()"
      class="me-1"
    >
      {{ "Auto-normalize all tables" }}
    </button>
    <sbb-toggle [(ngModel)]="schemaService.starMode" class="me-1">
      <sbb-toggle-option label="Normal Mode" [value]="false">
      </sbb-toggle-option>
      <sbb-toggle-option label="Star Schema Mode" [value]="true">
      </sbb-toggle-option>
    </sbb-toggle>
    <app-undo-redo class="undo-redo"></app-undo-redo>
  </div>
  <div>
    <app-schema-graph></app-schema-graph>
  </div>

  <div class="item-sidebar">
    <div class="grid-container-sidebar">
      <div>
        <h2>Schema export</h2>
        <div class="mb-1">
          <app-persist-schema></app-persist-schema>
        </div>
        <div>
          <app-save-schema-editing> </app-save-schema-editing>
        </div>
      </div>
      <app-schema-editing-side-bar
        class="schema-editing-side-bar"
        *ngIf="schemaService.selectedTable"
      ></app-schema-editing-side-bar>
      <h2 *ngIf="!schemaService.selectedTable" class="table-not-selected">
        Select a table in the graph to start editing
      </h2>
    </div>
  </div>
</div>
