element::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

app-union-sidebar {
  margin: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: calc(66.66% - 2px) calc(33.33% - 2px);
  grid-template-rows: calc(var(--sbb-button-height)) auto;
  background-color: lightgray;
  height: calc(97vh - var(--sbb-header-lean-height));
  gap: 4px;
  padding: 4px;
}

.grid-container-sidebar {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: calc(var(--export-schema-sidebar-height)) auto;
  height: 100%;
}

.grid-container-graphmenu {
  display: grid;
  grid-template-columns: 15% 15% auto min-content;
  grid-template-rows: auto;
}

.grid-container > * {
  background-color: rgba(255, 255, 255, 1);
}

h2 {
  text-align: center;
  height: calc(var(--h2-high));
}

.item-sidebar {
  grid-row: 1/span 2;
  grid-column: 2;
}

sbb-toggle {
  white-space: nowrap;
}

sbb-toggle-option {
  height: var(--sbb-button-height);
}

.schema-editing-side-bar {
  scrollbar-width: none;
  overflow-y: scroll;
  display: block;
}

.table-not-selected {
  align-self: center
}

.padded {
  padding: 1rem;
}

.undo-redo {
  width: 100%;
  white-space: nowrap;
}
