<div sbbDialogTitle>Dimension Options</div>
<div sbbDialogContent>
  <div>
    There are multiple routes from {{ table.name }} to a fact table. Which of
    these do you want to replace by a foreign key in the fact table?
  </div>
  <br />
  <sbb-checkbox
    [ngModel]="routes.get(route)"
    (ngModelChange)="routes.set(route, $event)"
    *ngFor="let route of allRoutes"
    class="block mt-1"
  >
    <span class="bold">{{ route[0].referencingTable.fullName }}</span>
    <span *ngFor="let rel of route">
      <span [sbbTooltip]="rel.relationship.sourceRelationship().toString()">
        -&gt;
      </span>
      <span class="bold">{{ rel.referencedTable.fullName }}</span>
    </span>
  </sbb-checkbox>
</div>
<div sbbDialogActions>
  <button
    sbb-button
    [disabled]="!canConfirm()"
    (click)="confirm()"
    cdkFocusInitial
  >
    Ok
  </button>
  <button sbb-secondary-button sbbDialogClose>Cancel</button>
</div>
