.container {
  position: absolute;
  /* Make sure events are propagated to the JointJS element so, e.g. dragging works.*/
  pointer-events: none;
  -webkit-user-select: none;
  box-sizing: border-box;
  z-index: 2;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.extra-button {
  position: absolute;
  pointer-events: auto !important;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  font-weight: bold;
  color: white;
  line-height: unset;
}

#makeDirectDimension {
  left: 10px;
  top: 3px;
  background-color: green;
}

#potentialFact {
  left: 35px;
  top: 3px;
  background-color: blue;
}

#potentialFactTooltip {
  display: flex;
  justify-content: space-evenly;
}

.fact {
  background-color: #ffde1577 !important;
}

.direct-dimension {
  background-color: #f27e0077 !important;
}

.indirect-dimension {
  background-color: #e84e10df !important;
}

.pk {
  text-decoration: underline;
}

.fk {
  font-style: italic;
}

.highlighted {
  font-weight: bold;
  color: red;
}

.pk {
  text-decoration: underline;
}

.selected-table {
  background-color: #ffefea;
}

.table-head-highlight {
  border-top: solid 3px red !important;
}

.table-head {
  background-color: lightgray;
  /* if you change this, also change graphElementHeaderHeight in schema-graph.component.ts */
  height: 25px;
  border-top: solid 3px #2d327d;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}

.table-head-title {
  pointer-events: visibleFill;
}

.table-body {
  font-size: 1rem;
  pointer-events: visibleFill;
  display: flex;
  justify-content: space-between;
  font-weight: normal;
}

.table-body:hover {
  background-color: rgb(197, 194, 194);
  margin: 0;
}
