<div class="container px-0" [ngStyle]="bbox">
  <div
    *ngIf="showMakeDirectDimension"
    class="extra-button"
    style="left: 10px; top: 3px; background-color: green"
    type="button"
    (click)="schemaService.makeDirectDimension(table)"
  >
    D
  </div>
  <div
    *ngIf="isPotentialFact()"
    class="extra-button"
    type="button"
    [sbbTooltip]="factTooltip"
    [sbbTooltipTrigger]="'click'"
    style="left: 35px; top: 3px; background-color: blue"
  >
    F
  </div>
  <div
    class="table-head ellipsis"
    [sbbTooltip]="table.fullName"
    [ngClass]="{
      fact: isFact(),
      'direct-dimension': isDirectDimension(),
      dimension: isDimension(),
      'table-head-highlight': schemaService.selectedTable === table
    }"
  >
    <span class="table-head-title" (click)="select()">
      {{ table.fullName }}
    </span>
  </div>
  <div
    *ngFor="let column of schemaService.schema.displayedColumnsOf(table)"
    class="table-body"
  >
    <span
      [sbbTooltip]="column.name"
      [ngClass]="{
        pk: isPkColumn(column),
        fk: isFkColumn(column),
        'fact-col': isFactColumn(column),
        highlighted: isHighlightedColumn(column)
      }"
      class="ellipsis"
      data-cy="graph-element-columns"
    >
      {{ column.name }}
    </span>
    <span
      [sbbTooltip]="column.dataTypeString"
      class="text-end ellipsis"
      data-cy="graph-element-column-datatype"
    >
      {{ column.dataTypeString }}
    </span>
  </div>
  <div>
    <sbb-icon
      class="text-end"
      svgIcon="kom:arrows-left-right-down-up-medium"
    ></sbb-icon>
  </div>
</div>

<ng-template #factTooltip>
  <div>Is {{ table.name }} a fact table?</div>
  <div style="display: flex; justify-content: space-evenly">
    <button
      sbb-icon-button
      (click)="schemaService.suggestOrRejectFact(table, true)"
    >
      <sbb-icon svgIcon="kom:tick-medium"></sbb-icon>
    </button>
    <button
      sbb-icon-button
      (click)="schemaService.suggestOrRejectFact(table, false)"
    >
      <sbb-icon svgIcon="kom:cross-medium"></sbb-icon>
    </button>
  </div>
</ng-template>
