#graph {
  position: relative;
  display: inline-block;
  background: transparent;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#reset-btn {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
}

#paper {
  position: relative;
  height: 100%;
}

.tool-remove {
  display: none;
}