<div *ngIf="!intService.isIntegrating; else intModeMessage">
  <sbb-select placeholder="Select table to union with" [(ngModel)]="otherTable">
    <sbb-option *ngFor="let table of filteredTables()" [value]="table">{{
      table.fullName
    }}</sbb-option>
  </sbb-select>
  <button sbb-button [disabled]="!otherTable" (click)="openDialog()">
    Match Columns
  </button>
</div>

<ng-template #intModeMessage>
  <h2>
    Union is disabled because nested unions are not supported and one union
    operation is already required to merge the schemas
  </h2>
</ng-template>
