select {
  width: 30px;
}

.union-grid > h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 10px;
  white-space: nowrap;
  text-align: center;
}

.center {
  /* margin: auto; */
  /* align-self: center; */
  /* position: absolute; */
  /* transform: translate(-50%, -50%); */
  /* top: 50%; */
  /* left: 50%; */
  text-align: center;
}

.union-dialog {
  width: 80vw;
}

.union-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: min-content auto;
  grid-gap: 20px;
}

/* example from angular tutorial to see something, don't merge */
.list {
  border: solid 1px #ccc;
  height: 100%;
  grid-row: 2;
  background: white;
  border-radius: 4px;
  display: block;
}

.box {
  padding: 10px 5px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
