<div sbbDialogTitle>Dimension Options</div>
<div sbbDialogContent>
  <div>
    There are multiple routes from {{ table.name }} to a fact table. Which of
    these do you want to replace by a foreign key in the fact table?
  </div>
  <br />
  <sbb-radio-group #routeSelection>
    <sbb-radio-button
      *ngFor="let route of routes"
      [value]="route"
      style="display: block"
      ><span *ngFor="let rel of route"
        >{{ rel.relationship.sourceRelationship().toString() }}<br /></span
      ><br />
    </sbb-radio-button>
  </sbb-radio-group>
</div>
<div sbbDialogActions>
  <button
    sbb-button
    [disabled]="!canConfirm()"
    (click)="confirm()"
    cdkFocusInitial
  >
    Ok
  </button>
  <button sbb-secondary-button sbbDialogClose>Cancel</button>
</div>
