<div class="container-fluid border">
  <div class="row border">
    <div class="col-8 border">
      <!-- [selectedTable]="this.selectedTable" -->
      <!-- (selected)="onSelect($event)" -->
      <app-normalize-schema-graph
        [schema]="this.schema"
        [(selectedTable)]="this.selectedTable"
        [selectedColumns]="this.selectedColumns"
        [schemaChanged]="this.schemaChanged.asObservable()"
        (joinFk)="onJoin($event)"
      ></app-normalize-schema-graph>
    </div>
    <div class="col-4 border normalize-sidebar">
      <button type="button" sbb-button (click)="this.onAutoNormalize()">
        {{
          this.selectedTable !== undefined
            ? "Auto-normalize this table"
            : "Auto-normalize all tables"
        }}
      </button>
      <app-normalize-undo-redo
        class="undo-redo"
        [canUndo]="this.commandProcessor.canUndo()"
        [canRedo]="this.commandProcessor.canRedo()"
        (undo)="onUndo()"
        (redo)="onRedo()"
      ></app-normalize-undo-redo>
      <app-normalize-side-bar
        *ngIf="this.selectedTable"
        [table]="this.selectedTable"
        [schema]="this.schema"
        (splitFd)="onClickSplit($event)"
        (indToFk)="onIndToFk($event)"
        (selectColumns)="onSelectColumns($event)"
      ></app-normalize-side-bar>
    </div>
  </div>
</div>
