<div class="union-dialog">
  <div sbbDialogTitle>Match Columns</div>
  <div sbbDialogContent>
    Name of the generated table
    <input
      type="text"
      sbbInput
      [(ngModel)]="newTableName"
      [placeholder]="tableLeft.name"
    />

    <div class="union-grid">
      <h2 [sbbTooltip]="tableLeft.fullName">
        Columns of <br />
        {{ tableLeft.fullName }}
      </h2>
      <h2 style="grid-column: 2 / span 2">Matched Columns</h2>
      <h2 [sbbTooltip]="tableRight.fullName">
        Columns of <br />{{ tableRight.fullName }}
      </h2>

      <!-- leftAvailable -->
      <div
        cdkDropList
        (cdkDropListDropped)="drop($event)"
        class="list"
        #tableLeftAvailableList="cdkDropList"
        [cdkDropListConnectedTo]="[tableLeftMatchedList]"
        [cdkDropListData]="tableLeftAvailable"
      >
        <div
          class="box"
          *ngFor="let column of tableLeftAvailable"
          (click)="tableLeftMatched.push(column)"
          cdkDrag
        >
          <span>{{ column ? column.name : "Fill Column with NULL" }} </span>
          <span *ngIf="column">{{ column.dataType }}</span>
        </div>
      </div>

      <!-- leftMatched -->
      <div
        #tableLeftMatchedList="cdkDropList"
        id="tableLeftMatchedList"
        cdkDropList
        class="list"
        (cdkDropListDropped)="drop($event)"
        [cdkDropListConnectedTo]="[tableLeftAvailableList]"
        [cdkDropListData]="tableLeftMatched"
      >
        <h2 class="center" *ngIf="tableLeftMatched.length === 0">
          Click a column on the left or drag it here to add it to the unioned
          table
        </h2>
        <div *ngIf="tableLeftMatched.length > 0" class="scroll-y">
          <div class="box" *ngFor="let column of tableLeftMatched" cdkDrag>
            <span>{{ column ? column.name : "Fill Column with NULL" }} </span>
            <span *ngIf="column">{{ column.dataType }}</span>
          </div>
        </div>
      </div>

      <!-- rightMatched -->

      <div
        #tableRightMatchedList="cdkDropList"
        id="tableRightMatchedList"
        cdkDropList
        class="list"
        (cdkDropListDropped)="drop($event)"
        [cdkDropListConnectedTo]="[tableRightAvailableList]"
        [cdkDropListData]="tableRightMatched"
      >
        <h2 class="center" *ngIf="tableRightMatched.length === 0">
          Click a column on the right or drag it here to add it to the unioned
          table
        </h2>
        <div *ngIf="tableRightMatched.length > 0" class="scroll-y">
          <div class="box" *ngFor="let column of tableRightMatched" cdkDrag>
            <span>{{ column ? column.name : "Fill Column with NULL" }} </span>
            <span *ngIf="column">{{ column.dataType }}</span>
          </div>
        </div>
      </div>

      <!-- rightAvailable -->
      <div
        cdkDropList
        (cdkDropListDropped)="drop($event)"
        class="list"
        #tableRightAvailableList="cdkDropList"
        [cdkDropListConnectedTo]="[tableRightMatchedList]"
        [cdkDropListData]="tableRightAvailable"
      >
        <div
          class="box"
          *ngFor="let column of tableRightAvailable"
          cdkDrag
          (click)="tableRightMatched.push(column)"
        >
          <span>{{ column ? column.name : "Fill Column with NULL" }} </span>
          <span *ngIf="column">{{ column.dataType }}</span>
        </div>
      </div>
    </div>
  </div>

  <div sbbDialogActions>
    <button
      sbb-button
      [sbbDialogClose]="result()"
      cdkFocusInitial
      [disabled]="!unionPossible()"
    >
      Union
    </button>
    <button sbb-secondary-button sbbDialogClose>Cancel</button>
  </div>
</div>
