<div class="union-dialog">
  <div sbbDialogTitle>Match Columns</div>
  <div sbbDialogContent>
    <div
      class="match-columns d-flex mt-1 mb-1"
      *ngFor="let column of table1.columns"
    >
      <div class="matching-column">
        {{ column.name }}
      </div>
      <sbb-select class="select-matching-columns">
        <sbb-option *ngFor="let column of table2.columns">
          {{ column.name }}
        </sbb-option>
      </sbb-select>
    </div>
  </div>
  <div sbbDialogActions>
    <button sbb-button [sbbDialogClose]="true" cdkFocusInitial>Union</button>
    <button sbb-secondary-button sbbDialogClose>Cancel</button>
  </div>
</div>
