.grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 10vh max-content 10vh;
    /* justify-items: center; */
    gap: 10px;
  }
  
  
  .start-btn {
    align-self: centetr;
    justify-self: cemter;
    grid-column: 1/3;
  }