<div class="grid">
  <div
    sbbTooltip="File that contains lines of comma-separated word pairs that have the same meaning. Used as a hint for the schema matcher"
  >
    Thesaurus file
    <sbb-file-selector
      (fileChanged)="onThesaurusChanged($event)"
    ></sbb-file-selector>
  </div>
  <div>
    <button
      sbb-button
      (click)="startIntegration()"
      [disabled]="!(rightSchema && leftSchema)"
    >
      Start integration
    </button>
  </div>

  <h2>Left existing schema</h2>
  <h2>Right existing schema</h2>
  <app-table-selection
    *ngIf="!leftSchema"
    [withContentPreview]="false"
    (schema)="leftSchema = $event"
  ></app-table-selection>
  <h2 *ngIf="leftSchema" class="centered">
    Selected the following tables for the left schema:
    <ul>
      <li *ngFor="let table of leftSchema.tables">
        {{ table.fullName }}
      </li>
      <button sbb-button (click)="leftSchema = undefined">Cancel</button>
    </ul>
  </h2>

  <app-table-selection
    *ngIf="!rightSchema"
    [withContentPreview]="false"
    (schema)="rightSchema = $event"
  ></app-table-selection>
  <h2 *ngIf="rightSchema" class="centered">
    Selected the following tables for the right schema:
    <ul>
      <li *ngFor="let table of rightSchema.tables">
        {{ table.fullName }}
      </li>
      <button sbb-button (click)="rightSchema = undefined">Cancel</button>
    </ul>
  </h2>
</div>
