.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 10vh max-content;
  gap: 10px;
}

.grid div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-btn {
  grid-column: 1/3;
}

.upload-btn {
  margin-left: 6px;
}
