/* TODO: das Dialogfenster konstante Breite haben lassen */
.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  margin-bottom: 10px;
}

.hull {
  color: lightgreen;
}

.keys {
  font-weight: bold;
}

ul {
  margin: 0;
}

.violation {
  color: red;
}

.text-left {
  text-align: left;
}
