<div sbbDialogTitle>Split Options</div>
<div sbbDialogContent>
  Name of the generated table
  <input
    type="text"
    sbbInput
    [(ngModel)]="tableName"
    placeholder="if empty: column names of the chosen subtable key"
  />
  <table width="100%">
    <tr>
      <td>
        <h3>New Key</h3>
      </td>
      <td>
        <h3>New Attributes</h3>
      </td>
    </tr>
    <tr>
      <td width="50%" style="vertical-align: top">
        <ul>
          <li *ngFor="let column of fd.lhs">{{ column.name }}</li>
        </ul>
      </td>
      <td width="50%" style="vertical-align: top">
        <div class="sbb-checkbox-group-vertical">
          <sbb-checkbox
            *ngFor="let column of table.columns"
            [checked]="selectedColumns.get(column)!"
            (change)="setColumnSelection(column, $event.checked)"
          >
            <span [ngClass]="{ hull: hull.includes(column) }">{{
              column.name
            }}</span>
          </sbb-checkbox>
        </div>
      </td>
    </tr>
  </table>

  <div *ngIf="!isFullyDetermined()" class="violation">
    The key doesnt determine all of the selected attributes. Choose another key
    or check the violations and clean the data.
  </div>

  <div *ngIf="isFullyDetermined() && isKeyNonMinimal()" class="violation">
    A simpler key could determine all the selected attributes. We strongly
    advise to choose other key.
  </div>
  <div *ngIf="pkViolation" class="violation">
    The primary key {{ table.pk }} would be destroyed when splitting.
  </div>

  <div *ngIf="fkViolations.length > 0" class="violation">
    These foreign keys would be destroyed when splitting:
    <ul>
      <li *ngFor="let fk of fkViolations">
        {{ fk }}
      </li>
    </ul>
  </div>

  <div *ngIf="referenceViolations.length > 0" class="violation">
    These referenced keys would be destroyed when splitting:
    <ul>
      <li *ngFor="let ref of referenceViolations">
        {{ ref }}
      </li>
    </ul>
  </div>
  <div sbbDialogActions>
    <button
      sbb-button
      [disabled]="isFullyDetermined()"
      (click)="showViolations()"
    >
      Show violations
    </button>
    <button sbb-button (click)="otherKey()">Choose other key</button>
    <button
      sbb-button
      [disabled]="!canConfirm()"
      (click)="confirm()"
      cdkFocusInitial
    >
      Ok
    </button>
    <button sbb-secondary-button sbbDialogClose>Cancel</button>
  </div>
</div>
